### Import Libraries

In [1]:
import pandas as pd
import numpy as np

### Read CSV

In [2]:
train = pd.read_csv('./assets/train.csv')
test = pd.read_csv('./assets/test.csv')
weather = pd.read_csv('./assets/weather.csv')
spray = pd.read_csv('./assets/spray.csv')

##### Check Data Types and Columns name

**from weather descr document**
- `M`: Missing Data, or data that are not normally reported for the station
- `-`: values not available for sunrise/sunset.
    - because each date has two reported data from station 1 and 2. Therefore, station 2 column of the date has no sunrise/sunset data.

In [3]:
print("Train set data types:\n")
print(train.dtypes)
print("-----")
print("Test set data types:\n")
print(test.dtypes)
print("-----")
print("Weather set data types:\n")
print(weather.dtypes)
print("-----")
print("Spray set data types:\n")
print(spray.dtypes)

Train set data types:

Date                       object
Address                    object
Species                    object
Block                       int64
Street                     object
Trap                       object
AddressNumberAndStreet     object
Latitude                  float64
Longitude                 float64
AddressAccuracy             int64
NumMosquitos                int64
WnvPresent                  int64
dtype: object
-----
Test set data types:

Id                          int64
Date                       object
Address                    object
Species                    object
Block                       int64
Street                     object
Trap                       object
AddressNumberAndStreet     object
Latitude                  float64
Longitude                 float64
AddressAccuracy             int64
dtype: object
-----
Weather set data types:

Station          int64
Date            object
Tmax             int64
Tmin             int64
Tavg            object
Depart          object
DewPoint         int64
WetBulb         object
Heat            object
Cool            object
Sunrise         object
Sunset          object
CodeSum         object
Depth           object
Water1          object
SnowFall        object
PrecipTotal     object
StnPressure     object
SeaLevel        object
ResultSpeed    float64
ResultDir        int64
AvgSpeed        object
dtype: object
-----
Spray set data types:

Date          object
Time          object
Latitude     float64
Longitude    float64
dtype: object

In [4]:
# only select `object` columns
train_cats = train.select_dtypes(include=['object']).columns
test_cats = test.select_dtypes(include=['object']).columns
weather_cats = weather.select_dtypes(include=['object']).columns
spray_cats = spray.select_dtypes(include=['object']).columns

print(train_cats,'\n')
print(test_cats,'\n')
print(weather_cats,'\n')
print(spray_cats,'\n')

Index(['Date', 'Address', 'Species', 'Street', 'Trap',
       'AddressNumberAndStreet'],
      dtype='object')

Index(['Date', 'Address', 'Species', 'Street', 'Trap',
       'AddressNumberAndStreet'],
      dtype='object')

Index(['Date', 'Tavg', 'Depart', 'WetBulb', 'Heat', 'Cool', 'Sunrise',
       'Sunset', 'CodeSum', 'Depth', 'Water1', 'SnowFall', 'PrecipTotal',
       'StnPressure', 'SeaLevel', 'AvgSpeed'],
      dtype='object')

Index(['Date', 'Time'], dtype='object')

In [5]:
# courtesy of Brian Collins

def date_separate(df):
    df = df.copy()
    df['Year'] = pd.DatetimeIndex(df['Date']).year
    df['Month'] = pd.DatetimeIndex(df['Date']).month
    df['Day'] = pd.DatetimeIndex(df['Date']).day
    return df

# make all the dataset applied to the function
train=date_separate(train)
test=date_separate(test)
weather=date_separate(weather)
spray=date_separate(spray)

##### Check Train and Test set

In [6]:
train.head(1)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,Year,Month,Day
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0,2007,5,29

In [7]:
train.describe()

,Block,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,Year,Month,Day
count,10506.000000,10506.000000,10506.000000,10506.000000,10506.000000,10506.000000,10506.000000,10506.000000,10506.000000
mean,35.687797,41.841139,-87.699908,7.819532,12.853512,0.052446,2009.576242,7.692557,15.341424
std,24.339468,0.112742,0.096514,1.452921,16.133816,0.222936,2.354645,1.067675,8.901205
min,10.000000,41.644612,-87.930995,3.000000,1.000000,0.000000,2007.000000,5.000000,1.000000
25%,12.000000,41.732984,-87.760070,8.000000,2.000000,0.000000,2007.000000,7.000000,7.000000
50%,33.000000,41.846283,-87.694991,8.000000,5.000000,0.000000,2009.000000,8.000000,15.000000
75%,52.000000,41.954690,-87.627796,9.000000,17.000000,0.000000,2011.000000,8.000000,24.000000
max,98.000000,42.017430,-87.531635,9.000000,50.000000,1.000000,2013.000000,10.000000,31.000000

In [8]:
# Checking duplicates rows
# however it has different date, so we decide to keep
print(train.duplicated().value_counts())
train[train.duplicated()]

False    9693
True      813
dtype: int64

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,Year,Month,Day
99,2007-06-26,"2200 West 113th Street, Chicago, IL 60643, USA",CULEX PIPIENS/RESTUANS,22,W 113TH ST,T086,"2200 W 113TH ST, Chicago, IL",41.688324,-87.676709,8,1,0,2007,6,26
295,2007-07-11,"2200 West 113th Street, Chicago, IL 60643, USA",CULEX PIPIENS/RESTUANS,22,W 113TH ST,T086,"2200 W 113TH ST, Chicago, IL",41.688324,-87.676709,8,50,0,2007,7,11
351,2007-07-11,"3500 West 116th Street, Chicago, IL 60655, USA",CULEX PIPIENS/RESTUANS,35,W 116TH ST,T158,"3500 W 116TH ST, Chicago, IL",41.682587,-87.707973,9,50,0,2007,7,11
353,2007-07-11,"3500 West 116th Street, Chicago, IL 60655, USA",CULEX PIPIENS/RESTUANS,35,W 116TH ST,T158,"3500 W 116TH ST, Chicago, IL",41.682587,-87.707973,9,50,0,2007,7,11
512,2007-07-18,"3300 West Randolph Street, Chicago, IL 60612, USA",CULEX RESTUANS,33,E RANDOLPH ST,T044,"3300 E RANDOLPH ST, Chicago, IL",41.883284,-87.705085,8,1,0,2007,7,18
531,2007-07-18,"South Stony Island Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,10,S STONY ISLAND AVE,T138,"1000 S STONY ISLAND AVE, Chicago, IL",41.726465,-87.585413,5,50,0,2007,7,18
548,2007-07-18,"3700 118th Street, Chicago, IL 60617, USA",CULEX PIPIENS/RESTUANS,37,E 118TH ST,T212,"3700 E 118TH ST, Chicago, IL",41.680946,-87.535198,8,50,0,2007,7,18
587,2007-07-19,"3700 118th Street, Chicago, IL 60617, USA",CULEX PIPIENS/RESTUANS,37,E 118TH ST,T212,"3700 E 118TH ST, Chicago, IL",41.680946,-87.535198,8,50,0,2007,7,19
588,2007-07-19,"3700 118th Street, Chicago, IL 60617, USA",CULEX PIPIENS/RESTUANS,37,E 118TH ST,T212,"3700 E 118TH ST, Chicago, IL",41.680946,-87.535198,8,50,0,2007,7,19
589,2007-07-19,"3700 118th Street, Chicago, IL 60617, USA",CULEX PIPIENS/RESTUANS,37,E 118TH ST,T212,"3700 E 118TH ST, Chicago, IL",41.680946,-87.535198,8,50,0,2007,7,19
590,2007-07-19,"3700 118th Street, Chicago, IL 60617, USA",CULEX PIPIENS/RESTUANS,37,E 118TH ST,T212,"3700 E 118TH ST, Chicago, IL",41.680946,-87.535198,8,50,0,2007,7,19
591,2007-07-19,"3700 118th Street, Chicago, IL 60617, USA",CULEX PIPIENS/RESTUANS,37,E 118TH ST,T212,"3700 E 118TH ST, Chicago, IL",41.680946,-87.535198,8,50,0,2007,7,19
593,2007-07-19,"3700 118th Street, Chicago, IL 60617, USA",CULEX PIPIENS/RESTUANS,37,E 118TH ST,T212,"3700 E 118TH ST, Chicago, IL",41.680946,-87.535198,8,50,0,2007,7,19
602,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0,2007,7,25
604,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0,2007,7,25
605,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0,2007,7,25
606,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0,2007,7,25
607,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0,2007,7,25
608,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0,2007,7,25
609,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0,2007,7,25
611,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,1,2007,7,25
612,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0,2007,7,25
613,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0,2007,7,25
615,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0,2007,7,25
616,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0,2007,7,25
617,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0,2007,7,25
619,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0,2007,7,25
620,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0,2007,7,25
621,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0,2007,7,25
622,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0,2007,7,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8972,2013-07-19,"4000 East 130th Street, Chicago, IL 60633, USA",CULEX PIPIENS/RESTUANS,40,E 130TH ST,T221,"4000 E 130TH ST, Chicago, IL",41.659112,-87.538693,8,50,0,2013,7,19
8980,2013-07-19,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,0,2013,7,19
8981,2013-07-19,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,0,2013,7,19
9150,2013-07-25,"ORD Terminal 5, O'Hare International Airport, ...",CULEX RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,0,2013,7,25
9157,2013-07-25,"ORD Terminal 5, O'Hare International Airport, ...",CULEX RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,5,0,2013,7,25
9229,2013-08-01,"3500 West 116th Street, Chicago, IL 60655, USA",CULEX PIPIENS/RESTUANS,35,W 116TH ST,T158,"3500 W 116TH ST, Chicago, IL",41.682587,-87.707973,9,46,0,2013,8,1
9308,2013-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,1,2013,8,1
9311,2013-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,0,2013,8,1
9312,2013-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,0,2013,8,1
9313,2013-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,0,2013,8,1
9314,2013-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,0,2013,8,1
9315,2013-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,1,2013,8,1
9318,2013-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,1,2013,8,1
9319,2013-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,1,2013,8,1
9323,2013-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,1,2013,8,1
9324,2013-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,0,2013,8,1
9327,2013-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,0,2013,8,1
9329,2013-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,1,2013,8,1
9330,2013-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,0,2013,8,1
9678,2013-08-15,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,3,0,2013,8,15
9902,2013-08-29,"University of Illinois at Chicago, 1100 South ...",CULEX PIPIENS/RESTUANS,11,S ASHLAND AVE,T090,"1100 S ASHLAND AVE, Chicago, IL",41.868077,-87.666901,9,50,0,2013,8,29
9969,2013-08-29,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,50,0,2013,8,29
9975,2013-08-29,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,1,2013,8,29
9976,2013-08-29,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,0,2013,8,29
9992,2013-08-29,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,1,2013,8,29
10013,2013-08-29,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS/RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,50,1,2013,8,29
10102,2013-09-06,"3700 South Pulaski Road, Chicago, IL 60623, USA",CULEX PIPIENS,37,S PULASKI RD,T063,"3700 S PULASKI RD, Chicago, IL",41.825610,-87.726549,9,9,0,2013,9,6
10124,2013-09-06,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,1,2013,9,6
10262,2013-09-12,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,0,2013,9,12
10392,2013-09-19,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,13,0,2013,9,19

In [9]:
test.head(1)

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,Year,Month,Day
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,2008,6,11

In [10]:
test.describe()

,Id,Block,Latitude,Longitude,AddressAccuracy,Year,Month,Day
count,116293.000000,116293.000000,116293.000000,116293.000000,116293.000000,116293.000000,116293.000000,116293.000000
mean,58147.000000,41.131100,41.849389,-87.693658,7.954357,2010.702759,7.620244,16.187681
std,33571.041765,24.864726,0.106593,0.080699,1.252733,2.128750,1.065842,8.800007
min,1.000000,10.000000,41.644612,-87.930995,3.000000,2008.000000,6.000000,1.000000
25%,29074.000000,18.000000,41.753411,-87.750938,8.000000,2008.000000,7.000000,10.000000
50%,58147.000000,39.000000,41.862292,-87.694991,8.000000,2010.000000,8.000000,17.000000
75%,87220.000000,61.000000,41.951866,-87.648860,9.000000,2012.000000,8.000000,24.000000
max,116293.000000,98.000000,42.017430,-87.531635,9.000000,2014.000000,10.000000,31.000000

In [11]:
print("# of unique train set species: ", train['Species'].nunique(), '\n')
train['Species'].value_counts()

# of unique train set species:  7

CULEX PIPIENS/RESTUANS    4752
CULEX RESTUANS            2740
CULEX PIPIENS             2699
CULEX TERRITANS            222
CULEX SALINARIUS            86
CULEX TARSALIS               6
CULEX ERRATICUS              1
Name: Species, dtype: int64

In [12]:
# Checking which species have the West Nile virus
train.groupby('WnvPresent')['Species'].value_counts()

WnvPresent  Species
0           CULEX PIPIENS/RESTUANS    4490
            CULEX RESTUANS            2691
            CULEX PIPIENS             2459
            CULEX TERRITANS            222
            CULEX SALINARIUS            86
            CULEX TARSALIS               6
            CULEX ERRATICUS              1
1           CULEX PIPIENS/RESTUANS     262
            CULEX PIPIENS              240
            CULEX RESTUANS              49
Name: Species, dtype: int64

In [13]:
train.WnvPresent.value_counts()

0    9955
1     551
Name: WnvPresent, dtype: int64

In [14]:
print("# of unique test set species: ", test['Species'].nunique(), '\n')
test['Species'].value_counts()

# of unique test set species:  8

CULEX PIPIENS/RESTUANS    15359
CULEX RESTUANS            14670
CULEX PIPIENS             14521
CULEX SALINARIUS          14355
CULEX TERRITANS           14351
CULEX TARSALIS            14347
UNSPECIFIED CULEX         14345
CULEX ERRATICUS           14345
Name: Species, dtype: int64

In [15]:
print("# of unique train set traps: ", train['Trap'].nunique(), '\n')
train['Trap'].value_counts().head()

# of unique train set traps:  136

T900    750
T115    542
T138    314
T002    185
T135    183
Name: Trap, dtype: int64

In [16]:
# We have 138 locations for the traps but we have 136 traps 
# which means there are 2 traps have been moved to new locations

In [17]:
train.groupby("Trap")["AddressNumberAndStreet"].nunique().value_counts()

1    134
2      2
Name: AddressNumberAndStreet, dtype: int64

In [18]:
train.groupby("Trap")["AddressNumberAndStreet"].nunique() == 2

Trap
T001    False
T002    False
T003    False
T004    False
T005    False
T006    False
T007    False
T008    False
T009     True
T011    False
T012    False
T013    False
T014    False
T015    False
T016    False
T017    False
T018    False
T019    False
T025    False
T027    False
T028    False
T030    False
T031    False
T033    False
T034    False
T035     True
T036    False
T037    False
T039    False
T040    False
        ...
T160    False
T161    False
T162    False
T200    False
T206    False
T209    False
T212    False
T215    False
T218    False
T219    False
T220    False
T221    False
T222    False
T223    False
T224    False
T225    False
T226    False
T227    False
T228    False
T229    False
T230    False
T231    False
T232    False
T233    False
T235    False
T236    False
T237    False
T238    False
T900    False
T903    False
Name: AddressNumberAndStreet, Length: 136, dtype: bool

In [19]:
# T009 and T035 have been moved from thier locations

In [20]:
train[train["Trap"] == "T035"]

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,Year,Month,Day
389,2007-07-11,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,1,0,2007,7,11
513,2007-07-18,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,1,0,2007,7,18
561,2007-07-19,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,3,0,2007,7,19
759,2007-07-27,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,3,0,2007,7,27
760,2007-07-27,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX RESTUANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,1,0,2007,7,27
1061,2007-08-01,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,6,0,2007,8,1
1062,2007-08-01,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,5,0,2007,8,1
1602,2007-08-07,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,4,0,2007,8,7
1603,2007-08-07,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX RESTUANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,1,0,2007,8,7
1954,2007-08-15,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,9,0,2007,8,15
1955,2007-08-15,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX RESTUANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,1,1,2007,8,15
1956,2007-08-15,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,4,0,2007,8,15
2312,2007-08-21,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,5,0,2007,8,21
2313,2007-08-21,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX RESTUANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,2,0,2007,8,21
2314,2007-08-21,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,5,0,2007,8,21
2646,2007-08-24,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,8,0,2007,8,24
2647,2007-08-24,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,2,0,2007,8,24
3127,2007-09-12,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,3,0,2007,9,12
3128,2007-09-12,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,1,0,2007,9,12
3274,2007-09-18,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,4,0,2007,9,18
3275,2007-09-18,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,2,0,2007,9,18
3276,2007-09-18,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX TERRITANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,1,0,2007,9,18
3516,2007-09-24,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,2,0,2007,9,24
3517,2007-09-24,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,2,0,2007,9,24
3518,2007-09-24,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX TERRITANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,1,0,2007,9,24
3723,2007-10-04,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,3,0,2007,10,4
3724,2007-10-04,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,14,0,2007,10,4
6223,2011-06-17,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,1,0,2011,6,17
6224,2011-06-17,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,6,0,2011,6,17
6316,2011-06-24,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,3,0,2011,6,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8044,2011-09-23,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,7,0,2011,9,23
8045,2011-09-23,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,1,0,2011,9,23
8109,2011-09-30,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,3,0,2011,9,30
8187,2013-06-07,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,1,0,2013,6,7
8304,2013-06-14,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,2,0,2013,6,14
8305,2013-06-14,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,2,0,2013,6,14
8417,2013-06-21,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,10,0,2013,6,21
8546,2013-06-28,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,3,0,2013,6,28
8547,2013-06-28,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,1,0,2013,6,28
8660,2013-07-08,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,6,0,2013,7,8
8661,2013-07-08,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,3,0,2013,7,8
8838,2013-07-12,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,6,0,2013,7,12
8839,2013-07-12,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,2,0,2013,7,12
9017,2013-07-19,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,9,0,2013,7,19
9178,2013-07-25,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,6,0,2013,7,25
9355,2013-08-01,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,3,0,2013,8,1
9356,2013-08-01,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,1,0,2013,8,1
9540,2013-08-08,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,7,0,2013,8,8
9695,2013-08-15,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,18,0,2013,8,15
9862,2013-08-22,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,4,0,2013,8,22
9863,2013-08-22,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,1,0,2013,8,22
10006,2013-08-29,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,6,0,2013,8,29
10007,2013-08-29,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,2,0,2013,8,29
10152,2013-09-06,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,31,1,2013,9,6
10287,2013-09-12,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,6,0,2013,9,12
10288,2013-09-12,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,1,0,2013,9,12
10289,2013-09-12,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,11,0,2013,9,12
10405,2013-09-19,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,19,0,2013,9,19
10406,2013-09-19,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,1,0,2013,9,19
10501,2013-09-26,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,6,1,2013,9,26

In [21]:
train[train["Trap"]== "T009"]

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,Year,Month,Day
50,2007-06-05,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,2,0,2007,6,5
221,2007-07-02,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,2,0,2007,7,2
312,2007-07-11,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,1,0,2007,7,11
313,2007-07-11,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,14,0,2007,7,11
714,2007-07-27,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,1,0,2007,7,27
715,2007-07-27,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,1,0,2007,7,27
716,2007-07-27,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,1,0,2007,7,27
862,2007-08-01,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,2,0,2007,8,1
863,2007-08-01,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,6,0,2007,8,1
864,2007-08-01,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,2,0,2007,8,1
865,2007-08-01,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,23,0,2007,8,1
866,2007-08-01,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,11,0,2007,8,1
1512,2007-08-07,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,9,0,2007,8,7
1513,2007-08-07,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,1,0,2007,8,7
1514,2007-08-07,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,27,0,2007,8,7
1831,2007-08-15,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,38,1,2007,8,15
1832,2007-08-15,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,27,1,2007,8,15
2224,2007-08-21,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,8,0,2007,8,21
2225,2007-08-21,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,45,0,2007,8,21
2555,2007-08-24,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,7,0,2007,8,24
2556,2007-08-24,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,3,0,2007,8,24
2557,2007-08-24,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,28,1,2007,8,24
2844,2007-09-04,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,13,0,2007,9,4
2845,2007-09-04,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,34,0,2007,9,4
2846,2007-09-04,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,50,0,2007,9,4
2847,2007-09-04,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,43,0,2007,9,4
3077,2007-09-12,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,5,0,2007,9,12
3214,2007-09-18,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,6,0,2007,9,18
3215,2007-09-18,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,21,0,2007,9,18
3437,2007-09-24,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,3,0,2007,9,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,2013-07-12,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,26,0,2013,7,12
8803,2013-07-12,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,50,0,2013,7,12
8804,2013-07-12,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,45,0,2013,7,12
8805,2013-07-12,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,50,0,2013,7,12
8975,2013-07-19,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,2,0,2013,7,19
9138,2013-07-25,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,23,0,2013,7,25
9139,2013-07-25,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,21,0,2013,7,25
9140,2013-07-25,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,46,0,2013,7,25
9305,2013-08-01,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,5,0,2013,8,1
9306,2013-08-01,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,3,0,2013,8,1
9507,2013-08-08,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,20,0,2013,8,8
9508,2013-08-08,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,50,0,2013,8,8
9509,2013-08-08,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,38,1,2013,8,8
9659,2013-08-15,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,26,0,2013,8,15
9660,2013-08-15,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,2,0,2013,8,15
9661,2013-08-15,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,5,0,2013,8,15
9829,2013-08-22,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,50,0,2013,8,22
9830,2013-08-22,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,12,0,2013,8,22
9831,2013-08-22,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,33,0,2013,8,22
9967,2013-08-29,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,31,1,2013,8,29
9968,2013-08-29,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,50,0,2013,8,29
9969,2013-08-29,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,50,0,2013,8,29
9970,2013-08-29,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,38,1,2013,8,29
9971,2013-08-29,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,27,1,2013,8,29
10116,2013-09-06,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,27,0,2013,9,6
10117,2013-09-06,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,30,1,2013,9,6
10254,2013-09-12,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,5,0,2013,9,12
10255,2013-09-12,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,35,0,2013,9,12
10385,2013-09-19,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,3,0,2013,9,19
10483,2013-09-26,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,1,0,2013,9,26

In [22]:
print("# of unique test set traps: ", test['Trap'].nunique(), '\n')
test['Trap'].value_counts().head()

# of unique test set traps:  149

T009    1528
T035    1520
T900    1468
T002     857
T008     822
Name: Trap, dtype: int64

In [23]:
# Drop address Columns

train = train.drop(['Address','AddressNumberAndStreet'], axis=1)
test = test.drop(['Address','AddressNumberAndStreet'], axis=1)

##### Weather Dataset

In [24]:
weather.head(5).T

                      0           1           2           3           4
Station               1           2           1           2           1
Date         2007-05-01  2007-05-01  2007-05-02  2007-05-02  2007-05-03
Tmax                 83          84          59          60          66
Tmin                 50          52          42          43          46
Tavg                 67          68          51          52          56
Depart               14           M          -3           M           2
DewPoint             51          51          42          42          40
WetBulb              56          57          47          47          48
Heat                  0           0          14          13           9
Cool                  2           3           0           0           0
Sunrise            0448           -        0447           -        0446
Sunset             1849           -        1850           -        1851
CodeSum                                      BR       BR HZ
Depth                 0           M           0           M           0
Water1                M           M           M           M           M
SnowFall            0.0           M         0.0           M         0.0
PrecipTotal        0.00        0.00        0.00        0.00        0.00
StnPressure       29.10       29.18       29.38       29.44       29.39
SeaLevel          29.82       29.82       30.09       30.08       30.12
ResultSpeed         1.7         2.7          13        13.3        11.7
ResultDir            27          25           4           2           7
AvgSpeed            9.2         9.6        13.4        13.4        11.9
Year               2007        2007        2007        2007        2007
Month                 5           5           5           5           5
Day                   1           1           2           2           3

In [25]:
weather.describe()

,Station,Tmax,Tmin,DewPoint,ResultSpeed,ResultDir,Year,Month,Day
count,2944.000000,2944.000000,2944.000000,2944.000000,2944.000000,2944.000000,2944.000000,2944.000000,2944.000000
mean,1.500000,76.166101,57.810462,53.457880,6.960666,17.494905,2010.500000,7.500000,15.836957
std,0.500085,11.461970,10.381939,10.675181,3.587527,10.063609,2.291677,1.710236,8.855731
min,1.000000,41.000000,29.000000,22.000000,0.100000,1.000000,2007.000000,5.000000,1.000000
25%,1.000000,69.000000,50.000000,46.000000,4.300000,7.000000,2008.750000,6.000000,8.000000
50%,1.500000,78.000000,59.000000,54.000000,6.400000,19.000000,2010.500000,7.500000,16.000000
75%,2.000000,85.000000,66.000000,62.000000,9.200000,25.000000,2012.250000,9.000000,23.250000
max,2.000000,104.000000,83.000000,75.000000,24.100000,36.000000,2014.000000,10.000000,31.000000

In [26]:
weather['Station'].nunique()

2

##### Found some suspicious data
- 11 missing values in `weather['Tavg']` (should've `int`)
- 1472 values missing in `weather['Depart']`

In [27]:
(weather[weather.columns] == 'M').sum().sort_values(ascending=False)

Water1         2944
Depth          1472
Depart         1472
SnowFall       1472
Heat             11
Cool             11
Tavg             11
SeaLevel          9
StnPressure       4
WetBulb           4
AvgSpeed          3
PrecipTotal       2
Tmin              0
Tmax              0
DewPoint          0
Date              0
Day               0
CodeSum           0
Sunrise           0
Sunset            0
Month             0
ResultSpeed       0
ResultDir         0
Year              0
Station           0
dtype: int64

In [28]:
weather[weather['Tavg'] == 'M']

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,Year,Month,Day
7,2,2007-05-04,78,51,M,M,42,50,M,M,...,M,0.00,29.36,30.04,10.1,7,10.4,2007,5,4
505,2,2008-07-08,86,46,M,M,68,71,M,M,...,M,0.28,29.16,29.80,7.4,24,8.3,2008,7,8
675,2,2008-10-01,62,46,M,M,41,47,M,M,...,M,0.00,29.30,29.96,10.9,33,11.0,2008,10,1
1637,2,2011-07-22,100,71,M,M,70,74,M,M,...,M,0.14,29.23,29.86,3.8,10,8.2,2011,7,22
2067,2,2012-08-22,84,72,M,M,51,61,M,M,...,M,0.00,29.39,M,4.7,19,M,2012,8,22
2211,2,2013-05-02,71,42,M,M,39,45,M,M,...,M,0.00,29.51,30.17,15.8,2,16.1,2013,5,2
2501,2,2013-09-24,91,52,M,M,48,54,M,M,...,M,0.00,29.33,30.00,5.8,9,7.7,2013,9,24
2511,2,2013-09-29,84,53,M,M,48,54,M,M,...,M,0.22,29.36,30.01,6.3,36,7.8,2013,9,29
2525,2,2013-10-06,76,48,M,M,44,50,M,M,...,M,0.06,29.10,29.76,10.1,25,10.6,2013,10,6
2579,2,2014-05-02,80,47,M,M,43,47,M,M,...,M,0.04,29.10,29.79,10.7,23,11.9,2014,5,2
2811,2,2014-08-26,86,49,M,M,68,71,M,M,...,M,T,29.41,30.04,1.3,15,5.8,2014,8,26

In [29]:
weather['Depart'].value_counts().head()

M     1472
 2      93
-1      84
-2      80
 5      77
Name: Depart, dtype: int64

In [30]:
print(weather['WetBulb'].nunique())
weather['WetBulb'].value_counts().head()

48

63    135
65    131
59    129
61    123
64    121
Name: WetBulb, dtype: int64

In [31]:
print(weather['Heat'].nunique())
weather['Heat'].value_counts().head()

31

0    1870
4      88
1      86
2      81
8      67
Name: Heat, dtype: int64

In [32]:
print(weather['Cool'].nunique())
weather['Cool'].value_counts().head()

31

 0    1147
 8     138
12     117
 5     117
10     110
Name: Cool, dtype: int64

In [33]:
weather['Depth'].value_counts()

M    1472
0    1472
Name: Depth, dtype: int64

In [34]:
# Since all the data is missing. we can omit!
weather['Water1'].value_counts()

M    2944
Name: Water1, dtype: int64

In [35]:
# It also seems irrelavant. no meaningful values
weather['SnowFall'].value_counts()

M      1472
0.0    1459
  T      12
0.1       1
Name: SnowFall, dtype: int64

In [36]:
# Given Water1 contains all missing values, and depth and snowfall also do not contain any useful information
# I'm going to go ahead and drop these columns

In [37]:
weather= weather.drop(['Depth','SnowFall','Water1'], axis=1)

##### Can we extract "CodeSum"?

In [38]:
# can we break it by Regex?

weather['CodeSum'].value_counts()

                        1609
RA                       296
RA BR                    238
BR                       110
TSRA RA BR                92
BR HZ                     81
RA DZ BR                  65
TSRA RA                   43
HZ                        39
RA BR HZ                  38
TSRA                      34
RA DZ                     22
TSRA BR                   21
TS TSRA RA BR             19
RA HZ                     16
TS RA                     13
TSRA RA BR HZ             12
TS TSRA BR                10
DZ BR                     10
TS                        10
DZ BR HZ                   9
TS RA BR                   8
DZ                         8
TSRA BR HZ                 8
TS TSRA BR HZ              7
TS TSRA                    7
RA DZ BR HZ                7
TS TSRA RA                 7
TSRA HZ                    4
TS BR                      4
                        ...
TS RA FG+ FG BR            1
RA DZ FG+ BR HZ            1
TS TSRA RA FG BR           1
HZ FU                      1
TS TSRA GR RA BR           1
RA BR HZ VCFG              1
TSRA FG+ BR                1
RA BR HZ VCTS              1
RA SN BR                   1
FG+ FG BR                  1
RA VCTS                    1
FG+ BCFG BR                1
RA BR FU                   1
BCFG BR                    1
RA FG BR                   1
HZ VCTS                    1
RA FG+ BR                  1
RA DZ SN                   1
BR VCTS                    1
TS TSRA RA HZ              1
TSRA BR HZ FU              1
TSRA BR HZ VCTS            1
RA BCFG BR                 1
RA DZ FG+ BCFG BR          1
TSRA DZ FG+ FG BR HZ       1
TS TSRA VCFG               1
TS TSRA RA FG BR HZ        1
TSRA RA BR HZ VCTS         1
MIFG BCFG BR               1
RA BR VCFG                 1
Name: CodeSum, Length: 98, dtype: int64

In [39]:
weather['CodeSum'].unique()

array([' ', 'BR', 'BR HZ', 'HZ', 'RA', 'RA BR', 'TSRA RA BR', 'RA VCTS',
       'TSRA RA', 'RA HZ', 'TSRA RA BR HZ', 'TSRA BR HZ', 'RA BR HZ VCTS',
       'TSRA RA HZ', 'TSRA BR HZ VCTS', 'TSRA', 'TSRA BR HZ FU',
       'TSRA RA HZ FU', 'BR HZ FU', 'TSRA RA VCTS', 'HZ VCTS', 'TSRA HZ',
       'VCTS', 'RA BR VCTS', 'TSRA RA BR VCTS', 'TS TSRA RA BR HZ VCTS',
       'DZ BR', 'TS TSRA RA BR HZ', 'TS TSRA BR HZ', 'RA BR HZ',
       'TSRA RA DZ BR HZ', 'TS TSRA RA BR', 'TS RA BR', 'TS TSRA RA',
       'TS TSRA RA BR VCTS', 'TS TSRA BR', 'TS RA', 'RA BCFG BR',
       'TSRA BR', 'RA DZ FG+ BCFG BR', 'RA FG+ MIFG BR', 'RA DZ',
       'RA DZ BR', 'TS TSRA RA HZ', 'TSRA RA FG+ FG BR',
       'TSRA DZ FG+ FG BR HZ', 'TS BR', 'RA BR SQ', 'TS TSRA',
       'TSRA RA BR HZ VCTS', 'BR VCTS', 'TS', 'FG+ BR HZ', 'RA SN',
       'TSRA RA DZ BR', 'DZ BR HZ', 'RA BR FU', 'TS BR HZ', 'DZ',
       'FG+ BR', 'FG+ FG BR', 'FG+ MIFG BR', 'TSRA RA FG BR',
       'TSRA FG+ BR', 'RA DZ BR HZ', 'RA DZ SN', 'FG+ FG BR HZ',
       'TS TSRA RA FG BR', 'BR HZ VCFG', 'TS RA FG+ FG BR',
       'TSRA RA FG+ BR', 'RA DZ FG+ FG BR', 'TS TSRA RA VCTS', 'FU',
       'TS TSRA VCFG', 'TS TSRA HZ', 'TS TSRA GR RA BR', 'RA FG BR',
       'HZ FU', 'RA BR HZ FU', 'MIFG BCFG BR', 'FG+ BCFG BR',
       'TSRA RA FG+ FG BR HZ', 'FG+', 'TSRA BR SQ', 'TSRA DZ BR HZ',
       'RA BR HZ VCFG', 'RA FG+ BR', 'FG BR HZ', 'TS HZ',
       'TS TSRA RA FG BR HZ', 'RA DZ FG+ BR', 'RA DZ FG+ BR HZ',
       'TSRA FG+ BR HZ', 'RA BR VCFG', 'TS RA BR HZ', 'BCFG BR',
       'RA SN BR'], dtype=object)

##### Still the code is not working properly. (ask Ben)

In [40]:

# def pattern_breakers(target):
#     patterns = ['SH', 'DZ', 'RA', 'TS', 'BR']
#     [weather[i] == 1 for i in target if i in patterns]

# pattern_breakers(weather['CodeSum'])

In [41]:
# #courtesy of Brian Collins
# patterns = ['SH', 'DZ', 'RA', 'TS', 'BR']

# # iterate through all the CodeSum to find the columns with the patterns list
# weather['CodeSum'] = weather['CodeSum'].apply(lambda x: [t for t in x.split('0') 
#                                                                    if t in patterns])
# # converts everything from the lists that were created in the previous code into strings
# weather['CodeSum'] = weather['CodeSum'].apply(lambda x: 
#                                                 x if not isinstance(x, list) else x[0] if len(x) else '')

# weather.CodeSum.value_counts()

**Let us decide to drop "codeSum" column first** for the initial modeling.

In [42]:
weather.drop(columns=['CodeSum_x', 'CodeSum_y'], axis=1, inplace=True)

ValueError: labels ['CodeSum_x' 'CodeSum_y'] not contained in axis

Let's keep take a look on other columns

In [ ]:
# 318 values are just trace rainfall

weather.PrecipTotal=weather.PrecipTotal.str.strip()
weather[weather.PrecipTotal == 'T']

In [ ]:
# 0.00 rainfall - 1,577 values
weather[weather.PrecipTotal == '0.00']

In [ ]:
weather.groupby('Station')['Tmax'].mean()

##### Split station 1 and 2, join horizontally (courtesy of abhishek of kaggle)

In [ ]:
weather_stn1 = weather[weather['Station'] == 1]
weather_stn2 = weather[weather['Station'] == 2]
weather_stn1 = weather_stn1.drop('Station', axis=1)
weather_stn2 = weather_stn2.drop('Station', axis=1)
weather = weather_stn1.merge(weather_stn2, on='Date')

In [ ]:
(weather[weather.columns] == 'M').sum().sort_values(ascending=False)

In [ ]:
# replace missing values and T with -1 (courtesy of abhishek of kaggle)

weather = weather.replace("M", -1)
weather = weather.replace("-", -1)
weather = weather.replace("T", -1)
weather = weather.replace(" T", -1)
weather = weather.replace("  T", -1)

In [ ]:
weather.describe()

In [ ]:
# drop the columns with all missing values
weather.drop(columns=['Depart_y', 'Sunrise_y', 'Sunset_y',
                      'Year_y', 'Month_y', 'Day_y'], axis=1, inplace=True)
weather.describe()

In [ ]:
weather.info()

In [ ]:
# seems very redundant code line, anyone can make it simpler way by creating function?

weather['Tavg_x']= weather.Tavg_x.astype(int)
weather['Tavg_y']= weather.Tavg_y.astype(int)
weather['AvgSpeed_x']=weather.AvgSpeed_x.astype(float)
weather['AvgSpeed_y']=weather.AvgSpeed_y.astype(float)
weather['Heat_x']=weather.Heat_x.astype(int)
weather['Heat_y']=weather.Heat_y.astype(int)
weather['Cool_x']=weather.Cool_x.astype(int)
weather['Cool_y']=weather.Cool_y.astype(int)
weather['PrecipTotal_x']=weather.PrecipTotal_x.astype(float)
weather['PrecipTotal_y']=weather.PrecipTotal_y.astype(float)
weather['StnPressure_x']=weather.StnPressure_x.astype(float)
weather['StnPressure_y']=weather.StnPressure_y.astype(float)
weather['StnPressure_x']=weather.StnPressure_x.astype(float)
weather['StnPressure_y']=weather.StnPressure_y.astype(float)
weather['SeaLevel_x']=weather.SeaLevel_x.astype(float)
weather['SeaLevel_y']=weather.SeaLevel_y.astype(float)

##### Spray dataset

In [ ]:
spray.head().T

In [ ]:
spray.describe()

##### Drop? / Duplicate
- Spray Time duplication - "7:44:32 PM", 541 counts
- Spray Time NaN values, 584 counts

In [ ]:
# weird. How 7:44:32 pm has 541 values? are they using auto-spray function?

spray.Time.value_counts().head()

In [ ]:
# it seems the duplicated data. However do we need to drop it? 
spray[spray.Time == "7:44:32 PM"].head()

In [ ]:
spray[spray['Time'].isnull()]

In [ ]:
spray[spray.Longitude == -87.794225]['Time'].value_counts()

**Merge with weather Data**

In [ ]:
train = train.merge(weather, on='Date')
test = test.merge(weather, on='Date')
train = train.drop(['Date'], axis = 1)
test = test.drop(['Date'], axis = 1)

In [ ]:
train.head()

##### Check numerical columns data, find abnormalty or outliers

In [ ]:
print(train.isnull().sum().sum())
print(weather.isnull().sum().sum())
print(spray.isnull().sum().sum())

**haversine library: try to check the distance between the two GPS points**

In [ ]:
from haversine import haversine

In [ ]:
!pip install haversine

In [ ]:
from haversine import haversine

In [ ]:
spray.columns

In [ ]:
spray[['Latitude', 'Longitude']]

##### check the distance between the two points. 
- question here is: why are we doing this? (need to ask Team David)
- by the species

In [ ]:
spray_0 = (spray['Latitude'][0], spray['Longitude'][0])
spray_1 = (spray['Latitude'][1], spray['Longitude'][1])

In [ ]:
haversine(spray_0, spray_1)

In [ ]:
n = spray.shape[0]
dist = []

for i in range(n):
    spray_a = (spray['Latitude'][i], spray['Longitude'][i])
    spray_b = (spray['Latitude'][i+1], spray['Longitude'][i+1])
    distance = haversine(spray_a, spray_b)
    dist.append(distance)
    print(spray_a, spray_b)

dist
df_dist = pd.DataFrame(dist)

In [ ]:
len(dist)

In [ ]:
!pip install pandas_profiling